* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
}

body {
  font-family: "Inter";
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.container {
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  padding: 3rem;
  display: inline-block;
  width: fit-content;
}

.avater {
  border-radius: 50%;
  width: 7rem;
  margin-bottom: 1.5rem;
}

h3 {
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  font-size: 2.4rem;
}

h4 {
  color: hsl(75, 94%, 57%);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

p {
  color: hsl(0, 0%, 67%);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

nav a {
  padding: 1rem;
  width: 100%;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.25s, color 0.25s;
}

nav a:hover {
  color: black;
  background-color: hsl(75, 94%, 57%);
}

nav a:active {
  background-color: hsl(75, 100%, 78%);
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width: 462px) {
  body {
    padding: 0 2rem;
  }

  nav a {
    font-size: 1.2rem;
    padding: 1.3;
  }
}
